.booking-page {
    padding: 20px;
    background-color: #EDEFEE;
    text-align: center;
  }
  
  .booking-title {
    font-family: 'Markazi Text', serif;
    font-size: 40pt;
    font-weight: 500;
    color: #333333;
    margin-top: 0;
    margin-bottom: 1rem;
  }
  
  .booking-description {
    font-family: 'Karla', sans-serif;
    font-size: 16pt;
    color: #495E57;
    margin-bottom: 2rem;
  }
  